---
layout: default
title: Welcome to yakhair.com
header_background_image: /images/grazing-yaks.jpg
---
<section>
	<div class="container mission">
		<h2>Why Yakhair?</h2>
		<p><img src="{{ site.baseurl }}/images/yak-head.jpg" alt="Yak head">Every time I give out my email address, people always have a chuckle over my domain name and then they ask about it. Unique domain names were difficult to come by even back in 2001. When trying to come up with a good name, I was reminded of a recent trip where I saw a wig store sign advertising yak hair wigs. You can figure out the rest.</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>The More You Know</h2>

		<ul class="halves">
			<li>
				<div class="image">{% include icons/joystick.html %}</div>
				<h3>Arcade</h3>
				<p>I've always been interested in old arcade games. Check out my projects.</p>
                <p><a href="https://www.classicarcadeprojects.com/?utm_source=yakhair&utm_medium=website&utm_content=group&utm_campaign=teaser">classicarcadeprojects.com</a></p>
			</li>

			<li>
				<div class="image">{% include icons/resume-document.html %}</div>
				<h3>Resume</h3>
				<p>This should be a current copy of my resume, but because I don't have one prepared check out my LinkedIn profile instead.</p>
                <p><a href="https://www.linkedin.com/in/glenn-hoeppner/">LinkedIn Profile</a></p>
			</li>
{% if "true" == "false" %}
			<li>
				<div class="image"><img alt="conditions" src="{{ site.baseurl }}/images/heart.svg" /></div>
				<h3>Work Conditions</h3>
				<p>Sheep are forced to eat grass every day of their life. How about some of variety?</p>
			</li>
{% endif %}
		</ul>
	</div>
</section>

<section>
	<div class="container">
		<blockquote>
			<p class="quote">What can you do with it? It's like a lot of yaks jumping about.</p>
			<div class="attribute">
				<p class="meta">
					<span class="author"><strong>Sir Thomas Beecham</strong></span>
					<span class="image"><img src="{{ site.baseurl }}/images/sir-thomas-beecham.png" alt="Sir Thomas Beecham"></span>
				</p>
			</div>
		</blockquote>
	</div>
</section>

<section>
	<div class="container">
		<h2>Random Musings</h2>
        <p>From time-to-time I might have something of general interest to share. Those thoughts will appear here.</p>
        {% assign postCounter = 0 %}
		{% for post in site.posts %}
            {% assign postCounter = postCounter | plus: 1 %}
			<div class="post">
				<div class="post-title">
					<h3>{{ post.title }}</h3>
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
				</div>
				{{ post.excerpt }}<br/>
                <a class="button" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
			</div>
		{% endfor %}
        {% if postCounter == 0 %}
            <div class="post">
                <p>Sorry! Nothing to see here right now.</p>
            </div>
        {% endif %}
	</div>
</section>
