<footer>
    <p class="editor-link" style="margin-bottom: 20px;"><a href="cloudcannon:collections/_data/company.yml" class="btn"><strong>&#9998;</strong> Update footer</a></p>
    <div class="container">
        <div class="about">
            <p>{{ site.data.company.mission_statement }}</p>
        </div>

        <div class="contact">
            <address>
                <a href="https://www.google.com/maps/place/{{ site.data.company.address | url_encode }}">
                    {% include icons/footer.html icon="place" %} {{ site.data.company.address }}
                </a>
            </address>
            <p class="email">
                <a href="mailto:{{ site.data.company.email }}">
                    {% include icons/footer.html icon="email" %} {{ site.data.company.email }}
                </a>
            </p>
            <p class="phone">
                <a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
                    {% include icons/footer.html icon="phone" %} {{ site.data.company.phone }}
                </a>
            </p>
        </div>

        <div class="sharing">
            <a class="linkedin" href="https://www.linkedin.com/in/{{ site.data.company.linkedin }}/">
                {% include icons/social-media.html social_icon="linkedin" %}
            </a>
            <a class="youtube" href=https://www.youtube.com/channel/{{ site.data.company.youtube }}/">
                {% include icons/social-media.html social_icon="youtube" %}
            </a>
            <a class="google-plus" href="https://plus.google.com/{{ site.data.company.google_plus }}">
                {% include icons/social-media.html social_icon="google-plus" %}
            </a>
        </div>
    </div>
</footer>
<p class="copyright">Copyright {{ 'now' | date: "%Y" }} yakhair.com</p>