<nav>
    <div class="container header-home-link">
        <a href="{{ site.baseurl }}/">{% include icons/cartoon-yak.html %}Yakhair.com</a>
    </div>
    <div class="container right-align social-icons">
        <a class="linkedin" href="https://www.linkedin.com/in/{{ site.data.company.linkedin }}/">
            {% include icons/social-media.html social_icon="linkedin" %}
        </a>
        <a class="youtube" href=https://www.youtube.com/channel/{{ site.data.company.youtube }}/">
            {% include icons/social-media.html social_icon="youtube" %}
        </a>
        <a class="github" href="https://github.com/{{ site.data.company.github }}">
            {% include icons/social-media.html social_icon="github" %}
        </a>
        <a class="google-plus" href="https://plus.google.com/{{ site.data.company.google_plus }}">
            {% include icons/social-media.html social_icon="google-plus" %}
        </a>
    </div>
</nav>

<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
	<div class="container">
		<h1>{{ page.title }}</h1>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</header>