html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	min-width: 380px;
}

html {
	background: #000;
}

body {
	background: #fff;
}

img {
	max-width: 100%;
}

h1 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 3.5em;
}

h2 {
	font-size: 3em;
	text-align: center;
	margin: 0;
}

h3 {
	font-size: 1.8em;
	margin: 20px 0 20px 0;
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
}

nav {
	background: rgba(0, 0, 0, .8);
	padding: 10px 0;
	position: fixed;
	color: #fff;
    width: 100%;
	z-index: 999;
	line-height: 0;
    display: flex;
    align-items: center;

    .container a {
        font-size: 1.75em;
        color: #fff;
        text-decoration: none;
    }

    svg {
        fill: #8e8e8e;
        height: 20px;
	}
}

header {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;

	.button a {
		text-shadow: none;
		font-size: 1.4em;
	}
}

section {
	padding: 60px 0;
}

.button a, input[type="submit"], input[type="text"] {
	border: 0;
	padding: 15px;
	box-sizing: content-box;
	font-size: 1em;
	font-weight: 100;
}

.button a, input[type="submit"] {
	background: #5cb85c;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 2px 0 0 #408040;
}

.button a {
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;

	&:hover {
	}
}
